<div class="d-flex">
<div id="header" class=" row w-100">
    <div class="col-lg-4 m-0 rest-name">Ashraf</div>
    <div class="col-lg-4 m-0">
        <ul class=" header-list m-0">
            <li class="header-btn">Home</li>
            <li class="header-btn">menu</li>
            <li class="header-btn">About</li>
            <li class="header-btn">Book table</li>
    </ul>
    </div>
    <div class="col-lg-4 m-0">
            <button class="header-btn"> <i class="fa fa-user" aria-hidden="true"></i> </button>
            <button class="header-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            <button class="header-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="order-online" (click)="orderonline()"  >order online</button>
    </div>
    </div>

    <section class="carousel">
      <div >
        <div class="carouselname">
          test1
        </div>
          <div class="carouseldiscription">
            test2
          </div>
      </div>
    </section>
</div>