#header{
    min-height: 50px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.header-btn{
    border: none ;
    color: #ffbe33 ;
    background-color: unset;
    text-align: center;
    padding: 5px 20px;
    list-style-type: none;
    cursor: pointer;
}
.header-btn:hover{
    color: white;
}
.header-list{
    display: flex;
    flex-direction: row;
}
.order-online{
    border: none ;
    border-radius: 45px;
    color: white ;
    background-color: #ffbe33;
    text-align: center;
    padding: 8px 30px;
    list-style-type: none;
    cursor: pointer;
    font-weight: 600;
}
.rest-name{
    padding-inline-start: 30px;
    color: white;
    font-family: cursive;
    font-size: 24px;
}
.carousel{
  position: absolute;
  top: 18%;
  padding: 30px;
  width: 100%
}
.carouseldiscription{
    color: white;
    font-size: 40px;
    padding-inline-start: 50px;
}
.carouselname{
  color: white;
    font-size: 60px;
}
.header-items{
    display: flex;
    justify-content: flex-end;
}