<div class="img-hdr"></div>
<div class="">
<div id="header" class=" row w-100">
    <div (click)="HomeBtn()" class="col-lg-4 m-0 rest-name">
        <button class="title">Ashraf</button>
    </div>
    <div class="col-lg-4 m-0 flexableLaptop ">
        <ul class=" header-list m-0">
            <li (click)="HomeBtn()" class="header-btn">Home</li>
            <li (click)="MenuBtn()" class="header-btn">Menu</li>
            <li (click)="AboutBtn()" class="header-btn">About</li>
            <li (click)="BookTableBtn()" class="header-btn">Book Table</li>
    </ul>
    </div>
    <div class="col-lg-4 m-0 flexableLaptop ">
            <button (click)="Account()" class="header-btn"> <i class="fa fa-user" aria-hidden="true"></i> </button>
            <button (click)="Cart()" class="header-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            <button (click)="Search()" class="header-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button (click)="OrderOnline()" class="order-online"  >order online</button>
    </div>
    </div>
<div class=" row flexableTablet">
<button id="header" class="title">Ashraf</button>
</div>

    <!-- <section class="carousel">
  <swiper-container [config]="swiperConfig">
      <swiper-slide *ngFor="let item of items">
        <h1>{{item.description}}</h1>
        <h3>{{item.title}}</h3>
      </swiper-slide>
    </swiper-container>

    </section> -->
<section class="slider-container">
  <div class="slides-wrapper">
    <div
      class="slide"
      *ngFor="let slide of slides; let i = index; trackBy: trackByIndex"
      [class.active]="i === currentIndex"
    >
      <div class="content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <button (click)="openUrl(slide.url)">{{ slide.buttonText }}</button>
      </div>
    </div>
  </div>

  <!-- Arrows -->
  <!-- <button class="arrow left" (click)="prevSlide()">&#10094;</button>
  <button class="arrow right" (click)="nextSlide()">&#10095;</button> -->

  <!-- Dots -->
  <div class="dots">
    <span
      *ngFor="let slide of slides; let i = index; trackBy: trackByIndex"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></span>
  </div>
</section>


</div>