<div class="d-flex">
<div id="header" class=" row w-100">
    <div class="col-lg-4 m-0 rest-name">Ashraf</div>
    <div class="col-lg-4 m-0">
        <ul class=" header-list m-0">
            <li class="header-btn">Home</li>
            <li class="header-btn">menu</li>
            <li class="header-btn">About</li>
            <li class="header-btn">Book table</li>
    </ul>
    </div>
    <div class="col-lg-4 m-0">
            <button class="header-btn"> <i class="fa fa-user" aria-hidden="true"></i> </button>
            <button class="header-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            <button class="header-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="order-online"  >order online</button>
    </div>
    </div>

    <!-- <section class="carousel">
  <swiper-container [config]="swiperConfig">
      <swiper-slide *ngFor="let item of items">
        <h1>{{item.description}}</h1>
        <h3>{{item.title}}</h3>
      </swiper-slide>
    </swiper-container>

    </section> -->
<section class="slider-container">
  <div class="slides-wrapper">
    <div
      class="slide"
      *ngFor="let slide of slides; let i = index; trackBy: trackByIndex"
      [class.active]="i === currentIndex"
    >
      <div class="content">
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
        <button (click)="openUrl(slide.url)">{{ slide.buttonText }}</button>
      </div>
    </div>
  </div>

  <!-- Arrows -->
  <button class="arrow left" (click)="prevSlide()">&#10094;</button>
  <button class="arrow right" (click)="nextSlide()">&#10095;</button>

  <!-- Dots -->
  <div class="dots">
    <span
      *ngFor="let slide of slides; let i = index; trackBy: trackByIndex"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></span>
  </div>
</section>


</div>